<a href="https://colab.research.google.com/github/meetdarbar93/AI-ML-Internship/blob/main/Day1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Printing your name, age, and a short introduction.

In [ ]:
name = "Meet Darbar"
age = 20
introduction = "I am third year bca student intersted in AI and Machine Learning"

print("Name:", name)
print("Age:", age)
print("Introduction:", introduction)

Name: Meet Darbar
Age: 20
Introduction: I am third year bca student intersted in AI and Machine Learning

# Calculating the sum and average of a list of numbers.

In [ ]:
def create_list(n):
    lst = []
    for i in range(0,n):
        n = int(input(f'enter element {i+1} : '))
        lst.append(n)
    return lst

def find_sum_avg(lst):
    sum = 0
    for i in lst:
        sum = sum + i
    avg = sum/len(lst)
    print(f"Sum : {sum}")
    print(f"Average : {avg}")

n = int(input('enter total number of list element : '))
lst = create_list(n)
find_sum_avg(lst)

enter total number of list element : 5
enter element 1 : 1
enter element 2 : 2
enter element 3 : 3
enter element 4 : 4
enter element 5 : 5
Sum : 15
Average : 3.0

# Finding even/odd numbers in a list.

In [ ]:
def create_list(n):
    lst = []
    for i in range(0,n):
        n = int(input(f'enter element {i+1} : '))
        lst.append(n)
    return lst

def even_odd_lst(lst):
    even = []
    odd = []
    for i in lst:
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
    print(f"Even Numbers : {even}")
    print(f"Odd Numbers : {odd}")

n = int(input('enter total number of list element : '))
lst = create_list(n)
print(f"Original list {lst}")
even_odd_lst(lst)

enter total number of list element : 5
enter element 1 : 1
enter element 2 : 2
enter element 3 : 3
enter element 4 : 4
enter element 5 : 5
Original list [1, 2, 3, 4, 5]
Even Numbers : [2, 4]
Odd Numbers : [1, 3, 5]

# Counting vowels in a string.

In [ ]:
txt = input('Enter string : ')
vowels = 'aeiouAEIOU'
count = 0
for i in txt:
    if i in vowels:
        count = count + 1
print(f'total vowels {count}')

Enter string : meet
total vowels 2

 # Generating Fibonacci series up to n.

In [ ]:
n = int(input('enter n : '))
a, b = 0, 1
for i in range(0,n):
  print(a,end=" ")
  a, b = b, a + b

enter n : 5
0 1 1 2 3