<a href="https://colab.research.google.com/github/meetdarbar93/AI-ML-Internship/blob/main/Day1_Additional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Reverse a string without using slicing

In [ ]:
def reverse(text):
  rev_str = ''
  for i in text:
    rev_str = i + rev_str
  return rev_str

text = input('enter string : ')
rev_str = reverse(text)
print(f'Original String {text}')
print(f'Reversed String {rev_str}')

enter string : hello
Original String hello
Reversed String olleh

#Count frequency of elements in a list

In [ ]:
def freq(lst):
  dict1 = {}
  for i in lst:
    if i in dict1:
      dict1[i] += 1
    else:
      dict1[i] = 1
  return dict1

lst = [1,2,2,3,4,5,3,4,2,1,4,5]
ans = freq(lst)
print(ans)

{1: 2, 2: 3, 3: 2, 4: 3, 5: 2}

# Find the largest and smallest number in a list
Without using the built-in max() and min() functions.

In [ ]:
def find_min_max(lst):
  min = lst[0]
  max = lst[0]
  for i in lst:
    if i < min:
      min = i
    if i > max:
      max = i
  return min , max

lst = [10,53,23,77,44,39,90,5,33]
min , max = find_min_max(lst)
print(f'Smallest Number : {min}')
print(f'Largest Number : {max}')

Smallest Number : 5
Largest Number : 90

#Ask the user for a word and print whether it’s a palindrome

In [ ]:
str = input('enter string : ')
if str == str[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

enter string : madam
Palindrome

#Find factorial of a number using a loop and recursion

In [ ]:
#using loop
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  return fact

n = int(input('enter number : '))
fact = factorial(n)
print(f'Factorial of {n} is {fact}')

enter number : 6
Factorial of 6 is 720

In [ ]:
#using recursion
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

n = int(input('enter number : '))
fact = factorial(n)
print(f'Factorial of {n} is {fact}')

enter number : 7
Factorial of 7 is 5040

#For numbers 1–10, create a dictionary where key = number and value = square of that number.

#

In [ ]:
square = {}
for i in range(1,11):
  square[i] = i*i
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#Write a function that checks whether the given number is a prime number.

In [ ]:
def is_prime(num):
  if num == 0 or num == 1:
    return False
  else:
    for i in range(2,int(pow(num,1/2))+1):
      if num%i == 0:
        return False
    else:
      return True

n = int(input('enter number : '))
if is_prime(n):
  print(f'{n} is a prime number')
else:
  print(f'{n} is not prime number')

enter number : 179
179 is a prime number

# bubble sort or selection sort

In [ ]:
# bubble sort
nums = [5, 2, 8, 1, 3]

n = len(nums)
for i in range(n):
  for j in range(0,n-i-1):
    if nums[j] > nums[j+1]:
      nums[j], nums[j+1] = nums[j+1], nums[j]  # swap

print("Sorted list:", nums)

Sorted list: [1, 2, 3, 5, 8]

In [ ]:
# selection sort
nums = [5, 2, 8, 1, 3]

n = len(nums)
for i in range(n):
    min_index = i
    for j in range(i + 1, n):
        if nums[j] < nums[min_index]:
            min_index = j
    nums[i], nums[min_index] = nums[min_index], nums[i]  # swap

print("Sorted list:", nums)

Sorted list: [1, 2, 3, 5, 8]

#Count uppercase, lowercase, digits, and special characters in a string

In [ ]:
txt = "Hello@123"

upper = lower = digit = special = 0

for ch in txt:
    if ch.isupper():
        upper += 1
    elif ch.islower():
        lower += 1
    elif ch.isdigit():
        digit += 1
    else:
        special += 1

print(f"Upper = {upper}, Lower = {lower}, Digits = {digit}, Special = {special}")

Upper = 1, Lower = 4, Digits = 3, Special = 1

# Print patterns using loops

In [ ]:
n = int(input("Enter number: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j , end=" ")
    print()

Enter number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = int(input('enter number : '))
x = 1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(x,end=" ")
        x=x+1
    print()

enter number : 4
1
2 3
4 5 6
7 8 9 10

In [ ]:
n = int(input('enter number : '))
nsp = (n-1)*2 #nsp = number of space
nst = 1 #nst = number of star
for i in range(1,n+1):
    print(" "*nsp,end="")
    for j in range(1,nst+1):
        print("* ",end="")
    nsp = nsp-2
    nst = nst + 2
    print()

enter number : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n = int(input('enter number : '))
nsp = (n-1)*2
for i in range(1,n+1):
    print(" "*nsp,end="")
    for j in range(1,i+1):
        print(f'{chr(j+64)} ',end="")
    for j in range(i-1,0,-1):
        print(f'{chr(j+64)} ',end="")
    nsp = nsp-2
    print()

enter number : 5
        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

In [ ]:
n = int(input('enter number : '))
nsp = (n-1)*2
for i in range(1,n+1):
    print(" "*nsp,end="")
    for j in range(1,i+1):
        print(f'{j} ',end="")
    for j in range(i-1,0,-1):
        print(f'{j} ',end="")
    nsp = nsp - 2
    print()

nsp = 2
for i in range(n-1,0,-1):
    print(" "*nsp,end="")
    for j in range(1,i+1):
        print(f'{j} ',end="")
    for j in range(i-1,0,-1):
        print(f'{j} ',end="")
    nsp = nsp + 2
    print()

enter number : 5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
  1 2 3 4 3 2 1
    1 2 3 2 1
      1 2 1
        1